Support RFC 7505 Null MX

simta should behave appropriately when it encounters an explicit null MX record as defined in RFC 7505.

```
   To indicate that a domain does not accept email, it advertises a
   single MX RR (see Section 3.3.9 of [RFC1035]) with an RDATA section
   consisting of preference number 0 and a zero-length label, written in
   master files as ".", as the exchange domain, to denote that there
   exists no mail exchanger for a domain.  Since "." is not a valid host
   name, a null MX record cannot be confused with an ordinary MX record.
   The use of "." as a pseudo-hostname meaning no service available is
   modeled on the SRV RR [RFC2782] where it has a similar meaning.
```